<!-- <ul class="list-group">
    <a [routerLink]= "ruta.path"
    class="list-group-item"
    *ngFor = "let ruta of rutas"> 
    {{ruta.name}}
    </a>
</ul> -->
<!-- <mat-chip-list aria-label="Fish selection">
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list> -->


  <!-- En el contenedor mat-side-nav se encuentran todos los elementos de la pagina -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav opened="true" mode="side">  <!-- Dentro de #sidenav se encuentra el listado del repositorio-->
    <div class="example-button-row">
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="cargarHome()">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button (click)="regresar()">
          <mat-icon>undo</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <mat-selection-list #archivos [multiple]="false">
      <mat-list-option
        *ngFor="let archivo of Archivos$ | async"
        [value]="archivo.ruta"
        (click)="
          cargarNuevoDirectorio(
            archivos.selectedOptions.hasValue()
              ? archivos.selectedOptions.selected[0].value:'', archivo.isDirectory)">
        <mat-icon mat-list-icon> folder</mat-icon>
        {{ archivo.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

    <video crossorigin>
    <source src="https:/172.31.113.159/media/archivos/videos/enero22/2022/01/27.01.22/WIN_20220127_10_07_50_Pro.mp4"/> 
    </video>

  <!-- <video controls=>
    <source type="video/mp4" src={{path_video}}>  
  </video>

</mat-sidenav-container> -->
