 <!-- En el contenedor mat-side-nav se encuentran todos los elementos de la pagina -->
<mat-sidenav-container fullscreen class="body">
  <mat-sidenav #sidenav opened="true" mode="side" class="despliegue"> <!-- Dentro de #sidenav se encuentra el listado del repositorio-->
    <div class="button-row">
      <mat-toolbar class="header">
        <button mat-icon-button (click)="regresar()">
          <mat-icon class="header-icon">undo</mat-icon>
        </button>
        <button mat-icon-button (click)="cargarHome()">
          <mat-icon class="header-icon">home</mat-icon>
        </button>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="header-icon">menu</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <mat-selection-list #archivos [multiple]="false" class="custom-scroll-bar">
      <mat-list-option *ngFor="let archivo of Archivos$ | async" [value]="archivo.ruta" (click)="
          cargarNuevoDirectorio(
            archivos.selectedOptions.hasValue()
              ? archivos.selectedOptions.selected[0].value:'', archivo.isDirectory)">
              
                <mat-icon mat-list-icon *ngIf="archivo.isDirectory; else isFile" class="folder"> folder </mat-icon>        
                    
              
        <!-- picture_as_pdf  smart_display video_file folder -->
        <ng-template #isFile> 
           
            <mat-icon mat-list-icon *ngIf="archivo.extension == '.mp4' || archivo.extension == '.dav'" class="video"> smart_display </mat-icon>
          
            <mat-icon mat-list-icon *ngIf="archivo.extension == '.pdf'" class="pdf"> picture_as_pdf </mat-icon>
          
            <mat-icon mat-list-icon *ngIf="archivo.extension == '.exe'" class="exe"> video_file </mat-icon>

            <mat-icon mat-list-icon *ngIf="archivo.extension == '.dav'" class="exe"> download_for_offline </mat-icon>
        </ng-template>
        {{ archivo.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-toolbar class="header">
    <button mat-icon-button (click)="sidenav.toggle()" >
      <mat-icon class="header-icon">menu</mat-icon>
    </button>
  </mat-toolbar>

     <div *ngIf="play; else nofile"> 
      <video controls="controls" preload="none" [volume]="0" class="reproductor" [src]= "path_video"  type="video/mp4" width="60%" height="40%"> 
      </video>
  
   </div> 

   <ng-template #nofile> 
    <mat-card class="nofile-card">
      <img mat-card-image src="\assets\resources\nofile.png" height="300px">
      <mat-card-content>
        <label class="emptyfile">
          Selecciona un archivo.
        </label>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
   </ng-template>
    <!-- <h1>{{name_video}}</h1> -->



</mat-sidenav-container> 
